body, h1 {
  margin: 0;
  background-color: #121116;
  color: white;
}

img  {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 115px;
  margin-left: 700px;
}

ul {
  list-style: none; 
}

.columns {
  display: none;
  justify-content: space-between;
  margin:auto;
  width: 1170px;
  gap: 30px;
}

.column {
  width: 70px;
  height: 100vh;
  background: #2a252b;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.title {
  display: flex;
  font-family: open sans;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 43px;
  margin-left: 683px;
}

#line {
  margin-top: 15px;
  margin-left: 645px;
}

.icons {
  display: flex;
  justify-content:center;
}
.footer {
  display: flex;
  font-family: open sans;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  margin-top: 43px;
  margin-left: 683px;
  letter-spacing: 1px;
  white-space: pre;
  margin-top: auto;
}



