body, h1 {
  margin: 0;
  background-color: #121116;
  color: white;
}

.h {
  margin-top: auto;
}

.img  {
  display: flex;
  align-items: center;
  margin: auto;


}


ul {
  list-style: none;
  
}
.columns {
  display: none;
  justify-content: space-between;
  margin:auto;
  width: 1170px;
  gap: 30px;
}

.column {
  width: 70px;
  height: 100vh;
  background: #2a252b;

}

.top {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.logo {
  display: flex;
  align-items: center;
  margin: auto;



}

.title {
  display: flex;
  align-items: center;
  font-family: open sans;
  font-size: 20px;
  font-weight: normal;

}

.fb {
  margin-left: 350px;
}
.no__decoration {
  text-decoration: none;
  color: black;
}